body {
    background-color: #004980;
    display: flex;
    justify-content: center;
}
.container {
    background-color: #C2F5FF;
    border-radius: 12px;
    width: 480px;
    margin-top: 158px;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__heading {
        margin-top: 15px;
        width: 208px;
        text-align: center;
        &__text {
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
            font-family: 'StratosSkyeng';
            color: #004980;
        }
    }
    &__level {
        margin-top: 5px;
        display: flex;
        gap: 24px;
        &__button {
            background: #FFFFFF;
            border-radius: 12px;
            border-color: transparent;
            width: 98px;
            height: 98px;
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 72px;
            font-family: 'StratosSkyeng';
            color: #0080C1;
            transition: border-color 1s;
        }
        &__button:hover {
            border-color: #0080C1;
        }
    }
    &__start__button {
        background: #7AC100;
        border-radius: 12px;
        border: none;
        width: 246px;
        height: 50px;
        font-family: 'StratosSkyeng';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        margin-top: 67px;
        margin-bottom: 50px;
    }
}
@font-face {
    font-family: "StratosSkyeng"; 
    src: url(fonts/stratosskyengweb-regular.woff2); 
}